
$dark:#2b303b;
$darker: #21252d;
$white: #fff;
$light-gray: #fafafa;
$light: #f9f9f9;
$blue: #48b0f7;

$title-lg: 31px;
$tx-regular: 14px;
$tx-small: 13px;

$bold: 700;
$bold-semi: 500;
$regular: 400;
$thin: 300;